/* 
all variables
https://github.com/squidfunk/mkdocs-material/blob/master/src/templates/assets/stylesheets/main/_colors.scss
*/

/* Light mode */
[data-md-color-scheme="default"] {
  --md-primary-fg-color: #25010b;
  --md-typeset-a-color: #c85a6b;
}

/* 
custom theme 
started from slate
https://github.com/squidfunk/mkdocs-material/blob/8fc61b5cb00845825179d6fd3e331c789f83187b/src/templates/assets/stylesheets/palette/_scheme.scss#L30
*/
[data-md-color-scheme="wine-red"] {
  /* Indicate dark mode */
  color-scheme: dark;

  --md-hue: 210;
  --md-primary-fg-color: #25010b;

  --md-default-fg-color: hsla(var(--md-hue), 15%, 90%, 0.82);
  --md-default-fg-color--light: hsla(var(--md-hue), 15%, 90%, 0.56);
  --md-default-fg-color--lighter: hsla(var(--md-hue), 15%, 90%, 0.32);
  --md-default-fg-color--lightest: hsla(var(--md-hue), 15%, 90%, 0.12);
  --md-default-bg-color: hsla(var(--md-hue), 15%, 14%, 1);
  --md-default-bg-color--light: hsla(var(--md-hue), 15%, 14%, 0.54);
  --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 14%, 0.26);
  --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 14%, 0.07);

  /* Code colors */
  --md-code-fg-color: hsla(var(--md-hue), 18%, 86%, 0.82);
  --md-code-bg-color: hsla(var(--md-hue), 15%, 18%, 1);
  --md-code-bg-color--light: hsla(var(--md-hue), 15%, 18%, 0.9);
  --md-code-bg-color--lighter: hsla(var(--md-hue), 15%, 18%, 0.54);

  /* Code highlighting */
  --md-code-hl-color: hsla(207, 100%, 50%, 1); /* Replace with blue a400 hsl */
  --md-code-hl-color--light: hsla(207, 100%, 50%, 0.1);

  --md-code-hl-number-color: hsla(6, 74%, 63%, 1);
  --md-code-hl-special-color: hsla(340, 83%, 66%, 1);
  --md-code-hl-function-color: hsla(291, 57%, 65%, 1);
  --md-code-hl-constant-color: hsla(250, 62%, 70%, 1);
  --md-code-hl-keyword-color: hsla(219, 66%, 64%, 1);
  --md-code-hl-string-color: hsla(150, 58%, 44%, 1);
  --md-code-hl-name-color: var(--md-code-fg-color);
  --md-code-hl-operator-color: var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color: var(--md-default-fg-color--light);
  --md-code-hl-comment-color: var(--md-default-fg-color--light);
  --md-code-hl-generic-color: var(--md-default-fg-color--light);
  --md-code-hl-variable-color: var(--md-default-fg-color--light);

  /* Typeset */
  --md-typeset-color: var(--md-default-fg-color);
  --md-typeset-a-color: #c85a6b;
  --md-typeset-kbd-color: hsla(var(--md-hue), 15%, 90%, 0.12);
  --md-typeset-kbd-accent-color: hsla(var(--md-hue), 15%, 90%, 0.2);
  --md-typeset-kbd-border-color: hsla(var(--md-hue), 15%, 14%, 1);
  --md-typeset-mark-color: hsla(
    207,
    100%,
    70%,
    0.3
  ); /* Replace with blue a200 hsl */
  --md-typeset-table-color: hsla(var(--md-hue), 15%, 95%, 0.12);
  --md-typeset-table-color--light: hsla(var(--md-hue), 15%, 95%, 0.035);

  /* Admonitions */
  --md-admonition-fg-color: var(--md-default-fg-color);
  --md-admonition-bg-color: var(--md-default-bg-color);

  /* Footer */
  --md-footer-bg-color: hsla(var(--md-hue), 15%, 10%, 0.87);
  --md-footer-bg-color--dark: hsla(var(--md-hue), 15%, 8%, 1);

  /* Shadows */
  --md-shadow-z1:
    0 0.25rem 0.625rem hsla(0, 0%, 0%, 0.05), 0 0 0.0625rem hsla(0, 0%, 0%, 0.1);
  --md-shadow-z2:
    0 0.25rem 0.625rem hsla(0, 0%, 0%, 0.25),
    0 0 0.0625rem hsla(0, 0%, 0%, 0.25);
  --md-shadow-z3:
    0 0.25rem 0.625rem hsla(0, 0%, 0%, 0.4), 0 0 0.0625rem hsla(0, 0%, 0%, 0.35);

  /* Hide images for light mode */
  img[src$="#only-light"],
  img[src$="#gh-light-mode-only"] {
    display: none;
  }
}
